<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row w-100 p-3">
            <div class="col">
              <h4><b>Manage Customers</b></h4>
            </div>
            <div class="col">
              <button class="btn btn-success" (click)="AddCustomer()">
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content justify-content-center">
          <thead>
            <tr class="center-align">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Address</th>
              <th>Age</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers" class="center-align">
              <td>{{ customer.first_name }}</td>
              <td>{{ customer.last_name }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.age }}</td>
              <td>
                <a href="#" [routerLink]="['/customers/', customer.id]" class="btn edit"><i class="fa fa-edit"></i></a>
                <button type="button" (click)="deleteCustomer(customer.id)" class="btn delete"><i class='fas fa-trash-alt'></i></button>
              </td>
            </tr>
            <tr>
              <td *ngIf="(customers | json) == '[]'" colspan="6">No User Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>