<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row w-100 p-3">
            <div class="col">
              <h4><b>Update Customer</b></h4>
            </div>
            <div class="col">
              <a href="#" routerLink="/customers" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                &nbsp;Back</a>
            </div>
          </div>
        </div>
        <form #customerForm="ngForm">
          <div class="table-content">
            <div class="form-group m-25 row">
              <div class="col-sm-3">
                <label for="firstName" class="p-t-b-10">First Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="firstName" required maxlength="255"
                  [(ngModel)]="currentCustomer.first_name" name="firstName" #firstName="ngModel">
                <div *ngIf="firstName.errors && submitted" class="alert alert-danger validationError">
                  <div [hidden]="!firstName.errors?.['required']">
                    First Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-25 row">
              <div class="col-sm-3">
                <label for="lastName" class="p-t-b-10">Last Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="lastName" required maxlength="255"
                  [(ngModel)]="currentCustomer.last_name" name="lastName" #lastName="ngModel">
                <div *ngIf="lastName.errors && submitted" class="alert alert-danger validationError">
                  <div [hidden]="!lastName.errors?.['required']">
                    Last Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-25 row">
                <div class="col-sm-3">
                    <label for="address" class="p-t-b-10">Address<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="address" required maxlength="255"
              [(ngModel)]="currentCustomer.address" name="address" #address="ngModel">
                    <div *ngIf="address.errors && submitted" class="alert alert-danger validationError">
                        <div [hidden]="!address.errors?.['required']">
                            Address is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-25 row">
                <div class="col-sm-3">
                    <label for="age" class="p-t-b-10">Age<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="age" required maxlength="10"
                    [(ngModel)]="currentCustomer.age" name="age" #age="ngModel">
                    <div *ngIf="age.errors && submitted" class="alert alert-danger validationError">
                        <div [hidden]="!age.errors?.['required']">
                            Age is required
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="editCustomer(customerForm.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>